<div *ngIf="!loggedIn; else addTrainForm">
  <!-- Login Form -->
  <div class="container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>

      <button type="submit">Login</button>
    </form>
  </div>
</div>



<ng-template #addTrainForm><div style="width: 400px; margin: 0 auto ; padding: 10px; border-radius: 20px; box-shadow: 0 40 30px rgba(0, 0, 0, 0.1); background-color: #f9f9f9; align:center">
    <h2>Add New Train</h2>
    <form  (ngSubmit)="addTrain()">
      <label for="trainNo">Train Number:</label>
      <input type="number" id="trainNo" name="trainNo" [(ngModel)]="train.trainNo" required><br>
      <label for="trainName">Train Name:</label>
      <input type="text" id="trainName" name="trainName" [(ngModel)]="train.trainName" required><br>
      <label for="departureStationId">Departure Station ID:</label>
      <input type="number" id="departureStationId" name="departureStationId" [(ngModel)]="train.departureStationId" required><br>
      <label for="arrivalStationId">Arrival Station ID:</label>
      <input type="number" id="arrivalStationId" name="arrivalStationId" [(ngModel)]="train.arrivalStationId" required><br>
      <label for="departureTime">Departure Time:</label>
      <input type="time" id="departureTime" name="departureTime" [(ngModel)]="train.departureTime" required><br>
      <label for="arrivalTime">Arrival Time:</label>
      <input type="time" id="arrivalTime" name="arrivalTime" [(ngModel)]="train.arrivalTime" required><br>
      <label for="totalSeats" ngIfElse="number<=100 ;else  showMessage">Total Seats : </label>
      <input type="number"  id="totalSeats" name="totalSeats" [(ngModel)]="train.totalSeats" required><br>
      <label for="departureDate">Departure Date:</label>
      <input type="date" id="departureDate" name="departureDate" [(ngModel)]="train.departureDate" required><br>
      <button type="submit">Add Train</button>
    </form>
  </div></ng-template>

  